name: rootbin
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-16.04

    steps:
    - uses: actions/checkout@v2
    - name: Install R 4.0.3
      run: |
        pwd
        mkdir /home/runner/work/root/R/
        mkdir /home/runner/work/root/R/library/
        cat mirror1.txt | sudo tee /etc/apt/sources.list
        sudo apt-key adv --keyserver keyserver.ubuntu.com --recv-keys E298A3A825C0D65DFD57CBB651716619E084DAB9
        sudo apt-get update && sudo apt-get install r-recommended
    - name: Compile
      run: |
        pwd
        sudo apt-get update && sudo apt-get install git build-essential dpkg-dev make g++ gcc binutils libx11-dev libxpm-dev libxft-dev libxext-dev gfortran libssl-dev libpcre3-dev xlibmesa-glu-dev libglew1.5-dev libftgl-dev libmysqlclient-dev libfftw3-dev libcfitsio-dev graphviz-dev libavahi-compat-libdnssd-dev libldap2-dev python-dev libxml2-dev libkrb5-dev libgsl0-dev libqt4-dev
        export ROOTSYS=${pwd}
        ./configure && make
    - name: Install xps
      run: |
        pwd
        ls ./bin/
        export ROOTSYS=${pwd}
        export PATH=$ROOTSYS/bin:$PATH
        export LD_LIBRARY_PATH=$ROOTSYS/lib:$LD_LIBRARY_PATH
        source ./bin/thisroot.sh
        Rscript xps.R
    - name: Pack Up
      run: tar -I zstd -cf xps.tar.zst /home/runner/work/root/R/library/
    - name: Upload Binaries to Release
      uses: svenstaro/upload-release-action@v2
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        file: /home/runner/work/root/root/xps.tar.zst
        tag: v1.48.0
        overwrite: true
        file_glob: true
